<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TypeNinja</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <main>
    <h1>
      TypeNinja
      <img src="/images/TypeNinja.png" alt="TypeNinja" width="175" height="175">
    </h1>
{{#if logged_in}}
      <button class="button" id="logout">Logout</button>
      {{else}}
      <button><a href="/login">Login</a></button>
      {{/if}}
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    </div>
    <nav>
      <!-- Conditionally render login or logout links -->
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    
</body>

</html>