<div id="header">
  <div id="info"></div>
  <div id="buttons">
    <button id="newGameBtn">Play Again</button>
    <button id="newGameBtn">Scoreboards</button>
    
  </div>
</div>
<div id="game" tabindex="0">
  <div id="words"></div>
  <div id="cursor"></div>
  <div id="focus-error">Click Here To Focus Text Box</div>
</div>
<div class="box">
  <p class="score">Your Saved Speeds:</p>
</div>
<script src="/js/script.js"></script>