<div>
<h2>Welcome to TypeNinja!!</h2>
<p>In order to play you must be logged in.  Please click "login" to go to the login page.  If you do not have a login, you will be able to create a new user account from the login page.</p>
</div>
