<div class="box">
  <h2>Welcome to TypeNinja!!</h2>
  <p>In Order To Play You Must Be Logged In. Please Click "Login" To Go To The Login Page. If You Do Not Have A Login, You Will Be Able To Create A New User Account From The Login Page.</p>
</div>