<div id="scoreboard">
    <div class="player">
        <h2 class="player_title"></h2><div class="score"></div>
    </div>
    <div class="player">
        <h2 class="player_title"></h2><div class="score"></div>
    </div>
    <div class="player">
        <h2 class="player_title"></h2><div class="score"></div>
    </div>
    <div class="player">
        <h2 class="player_title"></h2><div class="score"></div>
    </div>
    <div class="player">
        <h2 class="player_title"></h2><div class="score"></div>
    </div>
</div>