<table>
    <tr>
        <th>User ID</th>
        <th>Score</th>
    </tr>
    {{#each scores as |score| }}
   <tr>
    
    <td>{{score.user_id}}</td>
    <td>{{score.score}}</td>

   </tr>
       {{/each}} 
  </table>
