@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root{
    --bgColor: #4e6277;
    --textPrimary: white;
    --textSecondary: white;
    --primaryColor: #b3bcc6;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:var(--bgColor);
    color: var(--textPrimary);
    font-size: 1.4rem;
}

main{
    width: 800px;
    margin: 50px auto;
}

h1{
    font-size: 2em;
    font-family: 'Kaushan Script', cursive;
    color: var(--primaryColor);
    text-align: center;
}

h2{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: xx-large;
}

p{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: x-large;
}
#header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 6px 30px;
}

#buttons{
    text-align: right;
}

#info{
    color: var(--primaryColor);
    font-weight: bold;
    font-size: xx-large;
}

button{
    font-family: 'Kaushan Script', cursive;
    background: #b3bcc6;
    border: 4px solid;
    border-color: #8c9b80;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
}

div#game{
    margin: 5px;
    padding: .5em;
    border: 4px solid #8c9b80;
    border-radius: 10px;
    background-color: #b3bcc6;
    line-height: 40px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

div#game:focus{
    outline:0;
}

#words{
    position: absolute;
    filter: blur(5px);
    color: var(--textSecondary);
    overflow: hidden;
}

#game:focus #words{
    filter: blur(0);
}


#focus-error {
    font-size: 2em;
    font-family: 'Kaushan Script', cursive;
    color: #302558;
    position: absolute;
    inset: 0;
    text-align: center;
    padding-top: 2em;
}

#game:focus #focus-error{
    display:none;
}

div.word{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    margin: 0 5px;
}

.letter.correct{
    color: #8c9b80;
}

.letter.incorrect{
    color: #ff3261;
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#cursor{
    display:none;
    width: 2px;
    height: 1.6rem;
    background: var(--bgColor);
    position: fixed;
    animation: blink .4s infinite;
}

#game:focus #cursor{
    display: block;
}

#game.over #words{
    opacity: .5;
    filter: blur(0px);
}

#game.over:focus #cursor{
    display:none;
}

#game.over #focus-error {
    display: none;
}

.logout {
    font-family: 'Roboto', 'sans-serif';
    background: #004545;
    border:1;
    border-color: #008080;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}


.box{ 
    background-color: #b3bcc6;
    text-align: center;
    height: auto;
    border: 4px solid #8c9b80;
    border-radius: 10px;
    margin: 15px auto;
}

.box2{
    background-color: #4e6277;
    text-align: center;
    width: 750px;
    height: auto;
    border: 4px solid #8c9b80;
    border-radius: 10px;
    margin: 25px auto;
}

a {
    color: var(--textSecondary);
}

.score {
    font-family: 'Kaushan Script', cursive;
}

.form-group {
    font-family: 'Kaushan Script', cursive;
}

.form-input {
    font-family: 'Kaushan Script', cursive;
}

.name-signup {
    font-family: 'Kaushan Script', cursive;
}
