@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

/* color ideas
 background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
 */

:root{
    --bgColor: #b3bcc6;
    --textPrimary: white;
    --textSecondary: #4e6277;
    --primaryColor: #4e6277;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:var(--bgColor);
    color: var(--textPrimary);
    font-size: 1.4rem;
}

main{
    width: 800px;
    margin: 50px auto;
}

h1{
    color: var(--primaryColor);
    text-align: center;
}

#header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 6px 30px;
}

#buttons{
    text-align: right;
}

#info{
    color: var(--primaryColor);
    font-weight: bold;
    font-size: xx-large;
}

button{
    font-family: 'Roboto', 'sans-serif';
    background: #004545;
    border:1;
    border-color: #008080;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

div#game{
    padding: .5em;
    border: 4px solid #008080;
    border-radius: 10px;
    background-color: #b3bcc6;
    line-height:35px;
    height:180px;
    overflow: hidden;
    position: relative;
}

div#game:focus{
    outline:0;
}

#words{
    filter: blur(5px);
    color: var(--textSecondary);
}

#game:focus #words{
    filter: blur(0);
}

#focus-error {
    color: black;
    position: absolute;
    inset: 0;
    text-align: center;
    padding-top: 2.5em;
}

#game:focus #focus-error{
    display:none;
}

div.word{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    margin: 0 5px;
}

.letter.correct{
    color: #696969;
}

.letter.incorrect{
    color: #ff3261;
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#cursor{
    display:none;
    width: 2px;
    height: 1.6rem;
    background: var(--primaryColor);
    position: fixed;
    top: 198px;
    left: 120px;
    animation: blink .3s infinite;
}

#game:focus #cursor{
    display: block;
}

#game.over #words{
    opacity: .5;
    filter: blur(0px);
}

#game.over:focus #cursor{
    display:none;
}

#game.over #focus-error {
    display: none;
}

.box{ 
    background-color: #004545;
    text-align: center;
    width: 750px;
    height: auto;
    border: 3px solid #008080;
    border-radius: 10px;
    margin: 50px auto;
    }
    header, .project:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }
      
      .no-button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        color: #1b89bc;
        text-decoration: none;
        font-size: 100%;
      }
      
      .no-button:hover {
        color: #065b83;
        text-decoration: underline;
      }
      
      .dollar-amount {
        color: #056605;
        font-weight: bold;
        margin-left: -5px;
      }
      